footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    margin-bottom: 60px;
}

.div-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto auto;
    justify-content: flex-end;
}

.acionar-whatsapp {
    padding-left: 4%;
    margin-right: 20px;
}

.acionar-alerta {
    margin-right: 20px;
}

.apenas-premium {
    margin-right: 20px;
}

.apenas-sd {
    margin-right: 20px;
}

.hidden {
    display: none;
}

.c-carregando {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: absolute;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}

